Django
django-simple-history
djangorestframework
django-filter
markdown
pytest
django-viewflow
pytest-factoryboy
pytest-django
django-api-client
xhtml2pdf
pysolr
rest-swagger
django-rest-swagger
gunicorn
git+https://github.com/Work-Res/identifier.git
haystack
django-haystack
drf-yasg
setuptools
django-cors-headers
rules

django-auth-ldap
django-cors-headers
django-roles-access
django-otp-twilio~=1.0.5
model_mommy
djangorestframework-simplejwt
django-dotenv
PyJWT~=2.8.0