{% load static %}
{% load sass_tags %}

<style>
     .horizontal-list {
         list-style-type: none;
         padding: 0;
         display: flex;
         gap: 20px; /* Adds horizontal space between items */
     }

     .horizontal-list li {
         padding: 10px;
         background-color: #f4f4f4;
         border: 1px solid #ccc;
         border-radius: 5px;
     }
 </style>

<div class="col-md-12 project-list">
    <div>
      <div class="row mx-0">
        <div class="col-md-12">       
        <div>
          <div>
	          {% include "applications/payments/components/payment-statistics-cards.html" %}
	          </br>

          </div>
        </div>
          
        </div>
      </div>
    </div>
</div>
