{% load static %}
{% load sass_tags %}

<!--Application Personal Details-->
  
 <div class="row"> 
   <div class="col-xl-12 col-sm-12"> 
     <div class="card">
       <div class="card-body student">
         <div class="d-flex gap-2 align-items-end"> 
           <div class="flex-grow-1">

		  	  {% for key, value in personal_details.items %}
              <p class="mb-0 text-truncate"> {{key}}: {{value}}</p>
              {% endfor %}
              {% if new_application_required %}
	           <a href="https://example.com" class="btn btn-primary position-absolute top-0 end-0 m-2" target="_blank">
	             New Application
	           </a>
           	 {% endif %}
           </div>
         </div>
       </div>
     </div>
   </div>
</div>
