{% load static %}
{% load sass_tags %}

<!--Application Statistics-->

<div class="">
    <div>
        <div class="row mx-0">
            <div class="col-3 pl-0">
                <div class="btn-light1-primary b-r-10">
                    <div class="upcoming-box">
                        <div class="upcoming-icon bg-primary p-3 rounded-top"> <img
                                src="{% static 'assets/images/dashboard-2/svg-icon/calendar.png' %}" alt=""></div>
                        <div class="px-3 py-4">
                            <h4>Total</h4>
                            <p>{{total_applications}} Applications</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 pl-0">
                <div class="btn-light1-secondary b-r-10">
                    <div class="upcoming-box">
                        <div class="upcoming-icon bg-secondary p-3 rounded-top"> <img
                                src="{% static 'assets/images/dashboard-2/svg-icon/check.png' %}" alt=""></div>
                        <div class="px-3 py-4">
                            <h4>Completed</h4>
                            <p>{{completed_applications}} Applications</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 pl-0">
                <div class="btn-light1-warning b-r-10">
                    <div class="upcoming-box mb-0">
                        <div class="upcoming-icon bg-warning p-3 rounded-top"> <img
                                src="{% static 'assets/images/dashboard-2/svg-icon/processing.png' %}" alt=""></div>
                        <div class="px-3 py-4">
                            <h4>Pending</h4>
                            <p>{{pending_applications}} Applications</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 pl-0">
                <div class="btn-light1-tertiary b-r-10">
                    <div class="upcoming-box mb-0">
                        <div class="upcoming-icon bg-tertiary p-3 rounded-top"> <img
                                src="{% static 'assets/images/dashboard-2/svg-icon/total.png' %}" alt=""></div>
                        <div class="px-3 py-4">
                            <h4>In Progress</h4>
                            <p>{{in_progress_applications}} Applications</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
