{% load static %}
{% load sass_tags %}

<div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
    <div class="row">
      <div class="col-xxl-8 col-lg-8 col-md-6">
        <div class="card">
		  <h5 class="card-header bg-primary">Complete All Application Forms Below</h5>
		  <div class="card-body">
		      <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Form Name</th>
                          <th>Buttons</th>
                          <th>Created On</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                      	{% for key, value in application_forms.items %}
                      		<tr>
	                          <td>{{ key }}</td>
	                          <td>
	                          	<a class="btn {% if value.1 %} btn-success {% else %} btn-warning {% endif %}" href="{{ value.0 }}" role="button">{% if value.1 %}edit{% else %} add {% endif %}</a>
							  </td>
	                          <td>{% if value.1 %} value.1.created {% else %} -- {% endif %}</td>
	                          <td><label class="badge {% if value.1 %} badge-success {% else %} badge-warning {% endif %}">{% if value.1 %} completed {% else %} pending {% endif %}</label></td>
	                        </tr>
					    {% endfor %}
                      </tbody>
                    </table> 
		  </div>
		</div>
      </div>
    </div>
    
    <div class="col-xxl-4 col-lg-4 col-md-6">
        <div class="card">
		  <h5 class="card-header bg-primary">Application Details</h5>
		  <div class="card-body">
		  	<ul class="list-group">
		  	  {% for key, value in personal_details.items %}
              <li class="list-group-item"><b>{{key}}</b>: {{value}}</li>
              {% endfor %}
            </ul>
		     <hr>
	        <p><b>Application infor</b></p>   
            <ul class="list-group">
              <li class="list-group-item">Date of Submission: 24-11-2024</li>
              <li class="list-group-item">Status: In Progress</li>
            </ul>
            
            
            <hr>
	        <p><b>Application Payment</b></p>   
            <ul class="list-group">
              <li class="list-group-item"><b>Service</b>: Work & Residence Permit</li>
              <li class="list-group-item"><b>Payment Fee</b>: BWP 1000</li>
              <li class="list-group-item">
              	<a href="" class="btn btn-success btn-lg" target="_blank">
			      Pay Now
			    </a>
              </li>
            </ul>
		  </div>
		</div>
      </div>
    </div>
    
</div>